go 1.22.0

use (
	./pkg/types
	./sdk/go
	./src/credential
	./src/methods/app-attest-device
	./src/methods/captcha-turnstile
	./src/methods/email
	./src/methods/government-id-liveness
	./src/methods/ip-asn-reputation
	./src/methods/phone-carrier-tier
	./src/methods/phone-liveness
	./src/methods/plaid-bank-link
	./src/methods/sms
	./src/policy
	./src/registry
	./src/server
)
