go 1.22.0

use (
	./pkg/types
	./sdk/go
	./src/credential
	./src/methods/email
	./src/methods/government-id-liveness
	./src/methods/phone-liveness
	./src/methods/sms
	./src/policy
	./src/registry
	./src/server
)
